<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={{url_for('static',filename='result.css')}}>
    <title>CROP RECOMENDER</title>
</head>

<body>
    <h1 style="text-align: center; font-size: 3 rem; font-weight: bolder">COTTON CROP</h1>
    <table style = "width : 100%">
    <div class="rainyimg">
        <tr><img src="../static/cotton_pic.jpg" alt="COTTON IMAGE" style="height: 400px; width: 400px;">
    </div>
    <div>
        <td><h2>Cotton can grow in almost all well drained soils. However, suitable soils for achieving high yields are considered the deep well drained sandy loam soils, with enough clay, organic matter</h2></td>
   </div>
    </tr></table>
   <hr class="line">
   <div style="text-align: center;">
<button class="button " onclick="myFunction()">ANALYSE</button>
</div> 
<script>
    function myFunction() {
      location.replace("/analiser")
    }
    </script>
    </body>
</html>